.home {
    width: 100%;
    align-items: center;
    font-family: "Ariel", sans-serif;
    color: #3e497a;
}

.contact {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80px;
  color: black;
  text-align: center;
}

h1 {
  color: #21325e;
  font-size: 80px;
}

.email h2 {
  color: black;
  font-size: 40px;
}

.GitHub h2 {
  color: black;
  font-size: 40px;
}

.LinkedIn h2 {
  color: black;
  font-size: 40px;
}

.Phone h2 {
  color: black;
  font-size: 40px;
}
